/* .scroll-box {
background-color:lightblue;
margin: 0px;
}
   
#target {
width: 100%;
height:1500px;
position: absolute;
}
   
.imageBox {
width: 500px;
height: 500px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-image: url('https://i.ibb.co/wBrp9kR/layer1.png');
background-repeat: no-repeat;
background-size: cover;
}
   
.slideOne {
display:flex;
justify-content: center;
}
   
.slideOne p {
font-weight:bold;
font-size: 25px;
} */

.scroll-box {
    background-color: white;
    margin: 0px;
    position: relative; /* Menjadikan posisi relatif untuk container */
    overflow: hidden; /* Menghilangkan scroll di container */
    /* height: 1800px; */
    height: 45900px;
}

#target {
    width: 100%;
    height: 500px;
    /* Tidak perlu position: absolute; */
}

.imageBox {
    width: 1920px;
    height: 1080px;
    /* width: 500px;
    height: 500px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://ik.imagekit.io/usg7970jp2/ANCS%203D/0001.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slideOne {
    display: flex;
    justify-content: center;
}

.slideOne p {
    font-weight: bold;
    font-size: 25px;
}
